/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* styles.css or global.css */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
